/* Body */

body {
  font-family: "Montserrat";
}

/* Title */

.title_pic {
  width: 100%;
  height: 900px;
 }

#title {
  /* text-align: center; */
  background-color: #010604;
  padding-top: 3rem;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font: "Montserrat-Black";
  font-size: 5rem;
  line-height: 1.5;
  color: #45B39D;
  text-shadow: 1px 1px #0E6655;
  text-align: center;
}

h3 {
  font-family: "Montserrat-Bold";

}

.colour:hover {
  color: #45B39D;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Partners */
#solutions {
  padding: 7% 15%;
  background-color: #E5E7E9;
}

.partner-box {
  text-align: center;
  padding: 5%;
}

.partner-logo {
  width: 100px;
  height: 50px;
  margin-bottom: 1rem;
}

/* About Us */

#about-us {
  padding: 0% 15% 3% 15%;
  /* background-color: #5D6D7E; */
}

.us {
  position: relative;
  padding: 10%;
}
.company {
  margin: 10px 40px 40px 40px;
}

.about-pic {
  width: 50%;
  float:left;
  margin-right: 30px;
}

.about {
  font: "Montserrat-Black";
  font-size: 3rem;
  line-height: 1.5;
  color: #0E6655;
  text-align: center;
  z-index: 3;
}

.intro {
  font: "Montserrat-Black";
  font-size: 2rem;
  line-height: 2;
  color: #0E6655;
  text-align: center;
}

.sanjin {
  font: "Montserrat-Black";
  text-align: left;
  line-height: 1.5;
}

.founder {
  font: "Montserrat-Bold";
  text-align: left;
  line-height: 1.5;
}

.sanjin-n{
  text-align: left;
  font: "Montserrat";
  line-height: 1.5;

}

/* News Feed  */

#news {
  padding: 7% 15%;
}

.news-box {
  padding: 5%;
}
/* contact */
#contact {
  padding: 7% 15%;
  background-color: #E5E7E9;
}

.earth {
  width: 45%;
  float: left;
  margin-right: 40px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #0E6655;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker teal color */
input[type=submit]:hover {
  background-color: #45B39D;
}

/* Add a background color and some padding around the form */
.contact-container {
  border-radius: 5px;
  background-color: #E5E7E9;
  padding: 20px;
}

.contact {
  color: #45B39D;
  font: "Montserrat-Black";
  font-size: 5rem;
  line-height: 1.5;
  text-align: center;
}

/* Footer */

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
